[MASTER]
ignore-patterns=test_.*?py

[MESSAGES CONTROL]
disable=too-few-public-methods,import-error,missing-module-docstring,too-many-arguments,fixme,no-self-argument,global-statement,too-many-instance-attributes