{% extends "index.html" %}
{% from "macros.html" import pagination %}

{% block content %}

    {#    {{ pagination(paginator, rewrite_query_for_paging, realm, theme, group, query) }}#}

    <div class="content">
        {% for meta_uuid in paginator %}
            <div class="envelope">
{#                <a href="{{ url_for('preview', realm_route=realm_route, theme_route=theme_route, group_route=group_route, meta_uuid=meta_uuid) + '?q=' + query }}">#}
                    <img src="/content{{ index_thumbnails.get(meta_uuid) }}"
                         alt="{{ meta_uuid.original_name }}"/>
{#                </a>#}
            </div>
        {% endfor %}
    </div>

    {#    {{ pagination(paginator, rewrite_query_for_paging, realm, theme, group, query) }}#}

{% endblock %}