{% extends "index.html" %}
{% from "macros.html" import pagination %}

{% block content %}

    {{ pagination(paginator, web_query) }}

    <div class="content">
        {% for meta in paginator %}
            <div class="envelope">
                <a href="{{ url_for('preview',
                                    uuid=meta.uuid) + web_query|string }}">
                    <img src="{{ url_for('serve_content',
                                         filename=meta.path_to_thumbnail) }}"
                         alt=""/>
                </a>
            </div>
        {% endfor %}
    </div>

    {{ pagination(paginator, web_query) }}

{% endblock %}