{% macro pagination(paginator, web_query) %}
    {% if paginator.num_pages > 1 %}
        <div class="pages">
            {% if not paginator.is_fitting %}
                {% if paginator.has_previous %}
                    <a href="{{ web_query.replace(page=1) }}">First</a>
                    <a href="{{ web_query.replace(page=paginator.previous_page_number) }}">Previous</a>
                {% else %}
                    <a>First</a>
                    <a>Previous</a>
                {% endif %}
            {% endif %}

            {% for page in paginator.iterate_over_pages() %}
                {% if page.is_dummy %}
                    <a class="inactive_page">...</a>
                {% elif page.is_current %}
                    <a href="{{ web_query.replace(page=page.number) }}"
                       class="current_page">{{ page.number }}</a>
                {% else %}
                    <a href="{{ web_query.replace(page=page.number) }}">{{ page.number }}</a>
                {% endif %}
            {% endfor %}

            {% if not paginator.is_fitting %}
                {% if paginator.has_next %}
                    <a href="{{ web_query.replace(page=paginator.next_page_number) }}">Next</a>
                    <a href="{{ web_query.replace(page=paginator.num_pages) }}">Last</a>
                {% else %}
                    <a>Next</a>
                    <a>Last</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}


{% macro if_not_empty(label, value, suffix='') %}
    {% if value %}
        <tr>
            <td>{{ label }}</td>
            <td>{{ value }}{{ suffix }}</td>
        </tr>
    {% endif %}
{% endmacro %}
