{% extends "base_search.html" %}

{% block head %}
    <link type="text/css"
          href="{{ url_for('static', filename='navigation.css') }}"
          rel="stylesheet">
    <script>
        let visibility = JSON.parse('{{ visibility_json|safe }}')
    </script>
{% endblock %}

{% block body %}
    <div class="limited-width">

        <div class="textual-header">
            <h3>Narrow search to selected categories</h3>
        </div>

        <div class="nav-button-block">
            <a class="nav-button"
               onclick="selectAllThemes()">Select all themes</a>
            <a class="nav-button"
               onclick="dropAllThemes()">Drop all themes</a>
            <span>|</span>
            <a class="nav-button"
               onclick="applyFiltering()">Apply filtering</a>
        </div>

        <hr>

        {% for theme_uuid, theme in graph.items() %}
            {% set active = not visibility or visibility.get(theme_uuid) %}
            {% if active %}
                {% set visibility_suffix = ' nav-chosen-theme' %}
            {% else %}
                {% set visibility_suffix = '' %}
            {% endif %}
            <div id="theme_{{ theme_uuid }}"
                 class="nav-theme{{ visibility_suffix }}">
                {% if active %}
                    <a id="toggle_{{ theme_uuid }}"
                       class="nav-button"
                       onclick="toggleTheme('{{ theme_uuid }}')">Exclude</a>
                {% else %}
                    <a id="toggle_{{ theme_uuid }}"
                       class="nav-button"
                       onclick="toggleTheme('{{ theme_uuid }}')">Include</a>
                {% endif %}
                <a id="fold_{{ theme_uuid }}"
                   class="nav-button"
                   onclick="switchThemeFolding('{{ theme_uuid }}')">Unfold</a>
                <span>|</span>
                <a href="{{ url_for('search') + web_query.replace(q=theme_uuid)|string }}">{{ theme.label }}</a>
            </div>
            {% if theme.groups %}
                <ol id="groups_{{ theme_uuid }}" class="nav-groups nav-hidden">
                    {% for group_uuid, group in theme.groups.items() %}
                        <li>
                            <a href="{{ url_for('search') + web_query.replace(q=group_uuid)|string }}">{{ group.label }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}