{% extends "base_search.html" %}
{% from "macros.html" import pagination %}

{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='flexmasonry.css') }}">
{% endblock %}


{% block body %}

{{ pagination(paginator, web_query) }}

<div class="grid">
    {% for meta in paginator %}
        <div>
            <div class="envelope">
                <a href="{{ url_for('preview', uuid=meta.uuid) + web_query|string }}">
                    <img src="{{ url_for('serve_content', filename=meta.path_to_thumbnail) }}"
                         alt=""/>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{{ pagination(paginator, web_query) }}

<script src="{{ url_for('static', filename='flexmasonry.js') }}"></script>
<script src="{{ url_for('static', filename='code.js') }}"></script>

{% endblock %}
