{% extends "base_search.html" %}

{% block head %}
    <link type="text/css"
          href="{{ url_for('static', filename='tags.css') }}"
          rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="limited-width">
        <div class="textual-header">
            <h3>Statistics</h3>
        </div>

        <div class="content">
            <table class="tag_table">
                <tr>
                    <td>Total items</td>
                    <td>{{ sep_digits(statistic.total_items) }}</td>
                </tr>
                <tr>
                    <td>Total size</td>
                    <td>{{ byte_count_to_text(statistic.total_size) }}</td>
                </tr>

                {%- if statistic.min_date %}
                    <tr>
                        <td>Oldest item:</td>
                        <td>{{ statistic.min_date }}</td>
                    </tr>
                {% endif -%}

                {%- if statistic.max_date %}
                    <tr>
                        <td>Newest item:</td>
                        <td>{{ statistic.max_date }}</td>
                    </tr>
                {% endif -%}

                <tr>
                    <td>Total tags</td>
                    <td>{{ statistic|length }}</td>
                </tr>
            </table>
        </div>

        <br>

        {% if statistic.tags_by_frequency %}
            <div class="textual-header">
                <h3>Tags by frequency</h3>
            </div>

            <div class="content">
                {% for tag, times in statistic.tags_by_frequency %}
                    <a href="{{ url_for('search') + web_query.replace(q=tag)|string }}"
                       class="one_tag">{{ tag }} ⋅ {{ times }}</a>
                {% endfor %}
            </div>
        {% endif %}

        {% if statistic.tags_by_alphabet %}
            <div class="textual-header">
                <h3>Tags by alphabet</h3>
            </div>

            <div class="content">
                {% for letter, tags in statistic.tags_by_alphabet %}
                    <ul>
                        <li><p>{{ letter|upper }}</p></li>
                        {% for tag in tags %}
                            <li>
                                <a href="{{ url_for('search') + web_query.replace(q=tag)|string }}">
                                    {{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}
