.nav_table {
    /*table with navigation graph*/
    margin: auto;
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.nav_table tr:nth-child(even) {
    /*spacer row*/
    overflow-y: hidden;
    max-height: 5px;
}

.nav_table td:nth-child(even) {
    /*spacer column*/
    width: 5%;
    min-width: 5px;
    max-width: 15px;
}

.nav_table td:nth-child(odd) {
    /*content column*/
    width: 30%;
    min-width: 150px;
    max-width: 500px;
}

.nav_text {
    margin: 5px;
    border: none;
    color: white;
    background-color: var(--pale_blue);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    width: 100%;
}

.active {
    background-color: var(--bright_blue);
}

.hoverable_button {

}

.hoverable_button:hover {
    background-color: #b00e5e;
}
