.nav-button-block {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 1em;
}

.nav-theme {
    background-color: var(--pale_blue);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-groups {
    background-color: var(--darky);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0;
}

.nav-groups > li {
    margin-left: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-button {
    text-align: center;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    color: var(--just_white);
    border: 2px solid var(--grayish);
    border-radius: 5px;
}

.nav-button:hover {
    color: var(--brightey);
    background-color: var(--pale_blue);
    cursor: pointer;
}

.nav-chosen-theme {
    background-color: var(--bright_blue);
}

.nav-apply-button {
    background-color: #726f6f;
}

.nav-apply-button:hover {
    background-color: #dad3d3;
    color: black;
}

.nav-hidden {
    display: none;
}

.nav-visible {
    display: block;
}

.nav-icon {
    max-height: 2em;
}

.nav-table {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.nav-table td:first-child {
    width: 5%;
}

.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    background-color: var(--pale_blue);
    border-radius: 5px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: var(--darky);
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--bright_blue);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 0.5em;
    top: 5px;
    width: 5px;
    height: 0.7em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}