.query-container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.explain-container {
    margin: 10px;
    display: none;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.explain-query {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    margin:1em;
}

.explain-query-keyword, .explain-query-word {
    border: 2px solid var(--grayish);
    color: black;
    font-weight: bold;
    padding:0.5em;
    border-radius:5px;
    display:flex;
    justify-content:center;
}

.explain-query-keyword {
    background-color: var(--bright_blue);
    min-width: 2em;
}

.explain-query-word {
    color: var(--font-color);
}

.envelope-container {
    font-size: 12pt;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.envelope {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    margin: 8px;
    background-color: var(--grayish);
    display: flex;
    justify-content: center;
    padding: 0;
}

img {
    display: block;
    /*min-width: 384px;*/
}
