.query_container {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.envelope_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.envelope {
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    margin: 8px;
    background-color: var(--background-envelope);
    display: flex;
    justify-content: center;
    padding: 0;
}

img {
    display: block;
    /*min-width: 384px;*/
}