.content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.one_tag {
    border: 1px solid var(--pale_blue);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(70, 129, 60, 0.18);
}

.tag_table {
    margin: auto;
    max-width: 600px;
    width: 100%;
    text-align: center;
}
