<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link rel="shortcut icon"#}
{#          href="{{ url_for('static', filename='favicon.ico') }}">#}
{##}
    <link type="text/css"
          href="{{ url_for('static', filename='styles.css') }}"
          rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>

<div class="flex_vertical">
    <form method="post"
{#          action="{{ url_for('index_all', directory=directory) }}"#}
    >
        <div class="query_container">
{#            <a href="{{ url_for('index_all', directory=directory) }}"#}
{#               class="cls_button">Home</a>#}

            <label for="query">
                <input name="query"
                       type="search"
{#                       value="{{ query }}"#}
                       class="query_input"
{#                       placeholder="{{ placeholder }}"#}
                >
            </label>

            <input type="submit" class="cls_button" name="search"
                   value="Search"/>

{#            <a href="{{ url_for('show_tags', directory=directory) }}"#}
{#               class="cls_button">Tags</a>#}

{#            <a href="{{ url_for('show_help', directory=directory) }}"#}
{#               class="cls_button">Help</a>#}

            <span></span>
{#            <span class="note">{{ note }}</span>#}
        </div>
    </form>
</div>

<hr>

{% block content %}{% endblock %}

<!--{{ injection|safe }}-->
<br>
<br>
<br>
</body>
</html>